body {
    background-repeat: no-repeat;
    background-image: url(/home/samuel/Documents/week-2/project2/images/download.jpg);
    background-color: white;
}

.li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: maroon;
    font-style: italic;
}
@media screen and (min-width: 480px) {
    body {
        background-color: white;
        color: black;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-repeat: no-repeat;
        background-image: url(/home/samuel/Documents/week-2/project2/images/download.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

