body {
    background-image: url(../images/download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.first {
    text-align: center;
    color: brown;
}

.second {
    text-align: center;
    background-image: url(../images/question.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    color: orange;
    height: 200%;
    background-position: center;
}

.column {
    color: darkgreen;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    width: 50%;
    padding: 5px;
}
#response {
    text-align: center;
    display: none;
    color: maroon;
}
#response {
    text-align: center;
    color: brown;
}
